.header {
    background: #fff;
    padding: 44px 0 25px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__main {
        text-decoration: none;
    }
    &__image {
        width: 100px;
        height: 36px;
    }
    &__search-input {
        width: 690px;
        height: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        color: #BFBFBF;
        padding-left: 35px;
        background-image: url('../img/home.svg');
        background-repeat: no-repeat;
        background-position: left 11px center;
    }
    &__buttons {
        display: flex;
    }
    &__icon {
        margin-right: 6px;
    }
    &__login {
        border: 1px solid $blue-button;
        background-color: $blue-button;
        color: #fff;
        &--margin-1 {
            margin-right: 5px;
        }
    }
    &__shopping-cart {
        border: 1px solid #D9D9D9;
        background-color: $white-button;
        color: #595959;
    }
}